# Tristan Beckmann

# 2023SP Computer Prog for Liberal Arts (CS-150-01)
## Programming Assignment 3 - Version 1
### Spring 2023

The append function adds the element to the end of the list

In [47]:
# EXAMPLE OF APPEND
numbers=[38,24,67,96,99]
numbers.append(2)
print(numbers)

[38, 24, 67, 96, 99, 2]

The extend function adds one list onto another list

In [48]:
# EXAMPLE OF EXTEND
number2=[31,27,58,93,4]
number3=numbers+number2
print(number3)

[38, 24, 67, 96, 99, 2, 31, 27, 58, 93, 4]

The insert function inserts an element into the list at the specified index position

In [49]:
# EXAMPLE OF INSERT
number3.insert(0, 32) # adding 32 to the start of the list
number3

[32, 38, 24, 67, 96, 99, 2, 31, 27, 58, 93, 4]

The remove function removes an element from the list by its element name

In [50]:
# EXAMPLE OF REMOVE
number3.remove(32) # removing 32 from the list
number3

[38, 24, 67, 96, 99, 2, 31, 27, 58, 93, 4]

The count function counts how many times an element appears in a list

In [52]:
# EXAMPLE OF COUNT
number3= numbers.count(67) # trying to see how many times 67 appears in our list
print(number3)

1

The index function allows us to find the index number of an element given its name

In [53]:
# EXAMPLE OF INDEX
letters=['t', 'e', 's', 'b', 'r'] # creating a new list
index_of_s=letters.index('s')
print("The index of s in this list is: ", index_of_s)

The index of s in this list is:  2

The pop function removes an element by its index number

In [54]:
# EXAMPLE OF POP
letters.pop(0) # removing the letter t from the list based on its index number
letters

['e', 's', 'b', 'r']

The sorted function temporarily sorts a list.

In [55]:
# EXAMPLE OF SORTED
sorted(letters)

['b', 'e', 'r', 's']

The copy function copies a list based on its assignment to a variable.

In [56]:
# EXAMPLE OF COPY

myteams=["Lakers", "Broncos", "Yankees"]
histeams=myteams # to copy, we use a colon and a bracket

print(myteams)
print(histeams)

['Lakers', 'Broncos', 'Yankees']
['Lakers', 'Broncos', 'Yankees']

The clear function can clear the elements from an existing list.

In [57]:
# EXAMPLE OF CLEAR

myteams.clear()
myteams

[]

The list function can help us store multiple items in 1 variable. List by itself is a reserve keyword, so it must be attached to something.

In [58]:
# EXAMPLE OF LIST
list1=['Tristan', 'John', 'Ray']
list1

['Tristan', 'John', 'Ray']

The len function finds how many elements are in the list with the element count starting at 1.

In [59]:
# EXAMPLE OF LEN
len(list1)

3

The minimum function finds the minimum element from a list.

In [60]:
# EXAMPLE OF MINIMUM
min(list1)

'John'

The maximum function finds the maximum element from a list

In [61]:
# EXAMPLE OF MAXIMUM
max(list1)

'Tristan'